{% extends 'base.html' %}

{% block title %}
Create
{% endblock title %}

{% block content %}
<style>
    table,
    tr,
    td,
    th {
        padding: 10px;
    } 
    #poll-id {
        margin-bottom: 10px;
    }

    .errorlist {
        font-weight: bold;
        color: red;
    }

    li {
        list-style: none;
    }
    input[type=textarea]{
        width: 90%;
        border-radius: 10px;
    }
</style>


<div class="row">
    <div class="col-md-6" style="margin: auto;">
        <h1>Create Poll</h1>
        <hr>
        <div><a style="margin-right: 20px;" href="{% url 'poll:home' %}" class="btn btn-primary"><i class="fa fa-home">Home</i></a></div>

        <div>
            <form method='POST' novalidate>
                {% csrf_token %}
                <p>{{ qform.question.errors }}</p>
                <label>{{ qform.question.label_tag }}</label>
                <p>{{ qform.question }}</p>

                <input type="submit" class="btn btn-outline-success" value="Create">
            </form>
        </div>
    </div>

</div>

{% endblock content %}